{% extends "base.html" %}

{% block tittle_head %}
Autos
{% endblock tittle_head %}


{% block h1_header %}
Autos
{% endblock h1_header %}


{% block main %}
<br>
<form action="{% url "crear_auto" %}" method="get">
    <h4><b><input type="submit" value="Crear auto nuevo"></b></h4>
</form>
<br>
<form action="{% url "autos" %}" method="get">
    <b>{{formulario}}</b>
    <input type="submit" value="Buscar">
</form>
<br>
<b><h5>Listado de Autos</h5></b>
{% if autos %}
<ul>
    {% for auto in  autos%}
    <li>{{auto}} | 
        <a href={% url "ver_auto" auto.id%}>Ver</a> |
        <a href={% url "editar_auto" auto.id%}>Editar</a> | 
        <a href={% url "eliminar_auto" auto.id%}>Eliminar</a> |
    </li>
    {% endfor %}
</ul>
{% else %}
<p>
    No hay autos creados
</p>
{% endif %}
{% endblock main %}


